<!DOCTYPE html>

<html id="goUp" lang="en">

    <head>

        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

        <!-- documentation at http://getbootstrap.com/docs/4.1/, alternative themes at https://bootswatch.com/ -->
        <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" rel="stylesheet">

        <!-- https://favicon.io/emoji-favicons/money-mouth-face/ -->
        <link href="/static/logo.png" rel="icon">

        <link href="/static/styles.css" rel="stylesheet">
        {% block css %}
        {% endblock %}

        <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>

        <title>CollectShelf: {% block title %}{% endblock %}</title>

    </head>

    <body>
        <!--AUDIOS HERE -->
        <audio id = "mainLogoSound"src="../static/mainLogoSound.mp3" type="audio/mp3"></audio>
        <audio id = "bubbleSound"src="../static/bubbleSound.mp3" type="audio/mp3"></audio>
        <!--AUDIOS HERE -->
        <nav class="navbar navbar-expand-md navbar-dark bg-dark border">
            <a class="navbar-brand" href="/main" onclick="bubbleSound()"><span class="blue">CollectShelf</span><span><img id="logo" src="../static/logo.png" alt="Logo"></span></a>
            <button aria-controls="navbar" aria-expanded="false" aria-label="Toggle navigation" class="navbar-toggler" data-target="#navbar" data-toggle="collapse" type="button">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbar">
                {% if session.user_id %}
                    <ul class="navbar-nav mr-auto mt-2">
                        <li class="nav-item"><a class="nav-link" href="/add"   onclick="bubbleSound()">Add</a></li>
                        <li class="nav-item"><a class="nav-link" href="/main"  onclick="bubbleSound()">Main</a></li>
                        <li class="nav-item"><a class="nav-link" href="/items" onclick="bubbleSound()">Items</a></li>
                        <li class="nav-item"><a class="nav-link" href="/books" onclick="bubbleSound()">Books</a></li>
                    </ul>
                    <ul class="navbar-nav ml-auto mt-2">
                        <li class="nav-item"><a class="nav-link" href="/profile"onclick="bubbleSound()"><img id="profileImg" src="../static/profile.png" alt="Profile" width=30 height=30></a></li>
                        <li class="nav-item"><a class="nav-link" href="/logout" onclick="bubbleSound()">Log Out</a></li>
                    </ul>
                {% else %}
                    <ul class="navbar-nav ml-auto mt-2">
                        <li class="nav-item"><a class="nav-link" href="/register" onclick="bubbleSound()">Register</a></li>
                        <li class="nav-item"><a class="nav-link" href="/login" onclick="bubbleSound()">Log In</a></li>
                    </ul>
                {% endif %}
            </div>
        </nav>

        {% if get_flashed_messages() %}
            <header>
                <div class="alert alert-primary border text-center" role="alert">
                    {{ get_flashed_messages() | join(" ") }}
                </div>
            </header>
        {% endif %}

        <main class="container p-5">
            {% block main %}{% endblock %}
            <a class="goUp" onClick="scrollToElement()">
                <div class="scroll-up-container">
                    <span>Go Up!</span>
                    <img src="../static/logo.png" alt="logo.png" width=60 height=60>
                </div>
            </a>
        </main>

        <footer class="layout-footer">
            <p>&copy;Copyright by Harvard CS50X Course - Final Project by Hakan Yıldız</p>
        </footer>
        <script>
            // Scroll Up //
            function scrollToElement() {
               var elmnt = document.getElementById("goUp");
               elmnt.scrollIntoView({behavior:'smooth', block:'start'});
            }

            // BUTTON SOUNDS // For some reason it did not accept the parameters...
            function bubbleSound(){
                var bubbleSound = document.getElementById("bubbleSound")
                bubbleSound.play();
            }

        </script>
    </body>

</html>
