{% extends "layout.html" %}

{% block css%}
    <link rel="stylesheet" href="/static/login.css">
{% endblock %}

{% block title %}
    Log In
{% endblock %}

{% block main %}

    <img id="login-img" src="/static/mainLogo.png" alt="mainLogo">
    <form id="login-form" action="/login" method="post">
        <div class="form-group">
            <input autocomplete="off" autofocus class="form-control login-input" name="email" placeholder="Email Address" type="email">
        </div>
        <div class="form-group">
            <input id="login-input"class="form-control login-input" name="password" placeholder="Password" type="password">
        </div>
        <button id="submit"class="btn btn-primary login-btn" type="submit" onclick="bubbleSound()">Log In</button>

    </form>
    <script>
         // Animation
        window.setTimeout(function(){

            document.querySelector('#login-img').style.width = '325px'
            document.querySelector('#login-img').style.height = '300px'
            document.querySelector('#login-img').style.transform = 'rotate(1440deg)'
            document.querySelector("#login-img").style.boxShadow = "0 10px 10px grey"

        }, 750);


        window.setTimeout(function(){
                document.getElementById("mainLogoSound").load();
                document.getElementById("mainLogoSound").autoplay = true;


        }, 1500);

        window.setTimeout(function(){
            document.querySelector("input.login-input").style.opacity="1";
            document.querySelector("#login-input").style.opacity="1";
            document.querySelector(".login-btn").style.opacity="1";
            document.querySelector("input.login-input").style.marginTop="0";
            document.querySelector("#login-input").style.marginTop="0";
            document.querySelector(".login-btn").style.marginTop="0";

        },3750);
    </script>
{% endblock %}

